body {
    background-color: lightgrey;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.displayClear {
    border: 5px solid white;
}

.rowHolder {
    border: 5px solid white;
}

.displayClear {
    display: flex;
}

#display {
    color: black;
    background-color: whitesmoke;
    font-size: xx-large;
    text-align: center;
    padding-top: 15px;
    height: 54px;
    width: 184px;
    border: .5px solid black;
    margin-right: 3px;
}

#num {
    width:  178px;
    height: 55px;
}

.clear {
    width: 59px;
    height: 71px;
}

.buttons {
    width: 59px;
    height: 50px;
}

.backSpace {
    margin-top: 30px;
    width: 120px;
}